/** Layout styles **/
.fulldiv {
    width: 100%;
    float: left;
}

.div-90 {
    width: 90%;
    float: left;
}

.div-10 {
    width: 10%;
    float: left;
}

/** Velp area styles **/
.velpMenu .tab-content {
    bottom: 0;
    top:0;
}


.velpFill {
    top: 0;
    bottom: 0;
    height: 100%;
}

.velpFixed {
    position: fixed;
    min-width: 15em;
    max-width: 22.5em;
    min-height: 17em;
    right: 0;
    top: 50px;
    bottom: 0;
    border: 1px solid gainsboro;
    background: white;
    z-index: 1000;
    /* border-top-left-radius: 8px; */
}

/** Velp area styles **/
.velpMenu {
    /* position: fixed; */
    min-width: 15em;
    max-width: 22.5em;
    word-wrap: break-word;
    border: 1px solid gainsboro;
    background: white;
    z-index: 1001;
    /*overflow-y: auto;*/
    padding-left: 0.5em;
    top: 0;
    bottom: 0;
    height: 95%;
}

.velpMenu .nav-tabs {
    margin-left: 0;
    margin-top: 0em;
}

.velpMenu .nav-tabs > li.active > a {
    color: white;
    font-size: 0.8em;
    background-color: #3cc;
    border: 1px solid $basic-border-color;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpMenu .nav-tabs > li > a {
    color: #333;
    font-size: 0.8em;
    background-color: #F6F6F6;
    border: 1px solid $basic-border-color;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpArea {
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
    border-top: solid 1px gainsboro;
    float:left;
    position: relative;
    top: 0;
    bottom: 0;
}

/* needs media queries */
.velpArea .velp-stack {
    background: white;
    height: 1em;
    width: 18em;
    position: relative;
}

.adjustForm {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.adjustAnnForm {
    margin-top: 0.6em;
    margin-bottom: 0.9em;
}

.formLabel {
    font-size: 0.9em;
}

.formInput {
    max-width: 59%;
    float: right;
}

/* Table styles*/
.velpTable {
    table-layout: fixed;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: none;
    text-align: left;
}

.velpTable input {
    border: solid 1px gainsboro;
}
.velpTable input[type="submit"] {
    border: none;
    margin: 6px;
}

.velpArea input[type="number"] {
    width: 30%;
}

.velpArea legend {
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 0.3em;
}

.velpTable td{
    border: 0;
    margin: 0;
    padding: 4px;
    width: 10em;
    white-space: normal;
}

.tag-true, .tag-false {
    font-size: 0.85em;
    word-wrap: break-word;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
    max-width: 98%;
    white-space: normal;
}

.tag-true {
    border-bottom: solid 4px darkblue;
}

.tags {
    top: 25px;
    right: 5px;
    position: absolute;
    width: 3em;
}

.addLabelField {
    display: inline;
    width: 76%;
    margin-bottom: 10px;
}

.addLabelBtn {
    display: inline;
}

.velp {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    line-height: 1.25em;
    font-weight: 600;
    cursor: pointer;
    min-height: 10em;
    width: 18em;
}

.velp legend{
    font-size: 1.5rem;
    font-weight: 600;
}

.velp .truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.velp .warning{
    border: 1px solid #f0ad4e;
    background-color: #fcf8e3;
}

.velp .gray{
    color: gray;
}


.velp-data {
    position: relative;
}

.notes .velp-badge {
    position: absolute;
    top: 0;
    left: -2em;
    font-size: 9px;
    padding: 0;
    z-index: 10;
}

.notes .note-badge-with-velp {
position: absolute;
    top: 0;
    left: -1em;
    font-size: 9px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}



.velp:hover .emphasise{
    margin-top: -1em;
    -webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
}

.velp .emphasise{
    position: relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    z-index: 0;
    background: gainsboro;

-webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
-moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
}

.bottom-part{
    padding-top: 8em;
    width: 100%;
}

.velp .edit{
    margin-top: -1em;
    z-index: 10;
}

.velp .content{
    position: relative;
    padding: 0.4em 0.25em;
    z-index: 1;
    font-weight: 300;
    font-size: 0.9em;
}

.velp .header{
    font-size: 1.5rem;
    font-weight: 600;
}

.velp .content .right{
    float: right;
}

.velp .content .left{
    float: left;
}

.velp textarea{
    width: 100%;
}

/* Velp info and PopOver styles */
.velpInfo {
    float: left;
    border: 0;
}
.velpInfoText {
    word-break: keep-all;
}

.velpInfo input.points{
    background: transparent;
    border: 0;
    width: 50px;
}

.velp-content{
    padding: 0.5em 0.25em;
}

.velp-bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.velpInfo textarea{
    background-color: transparent;
    border: none;
}

.notes>span{
    display: block;
    margin-bottom: 0.25em;
}

/* Annotation styles */
.has-annotation::before {
    background: #3CC;
    content: "\00A0V\00A0";
    color: white;
    padding: 0.1em;
    position: absolute;
    top: 0;
    right: 0;
}

label.disabled {
    color: grey;
}

.emphasise {
    &.default {
        background: gainsboro;
    }

    &.positive {
        background: palegreen;
    }

    &.neutral {
        background: khaki;
    }

    &.negative {
        background: lightpink;
    }

    &.new {
        background: lightskyblue;
    }

    &.inactive {
        background: whitesmoke;
    }
}

.clickable-icon {
    cursor: pointer;
    opacity: 0.6;
}

.clickable-icon:hover {
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

#resetAllSelBtn {
    margin-top: 1em;
}
