{% set editline = '' %}
{%- if not exam_mode and (rights.editable or rights.can_comment) -%}
    {%- set editline = '<div class="editline" tabindex="0" title="Click to edit this paragraph"></div>' -%}
{%- endif -%}

{%- macro start_area(t) -%}
    {% set area_name = t.areainfo.name %}
    <div class="{{ t.areainfo.area_class_str }} area_{{area_name}}"
         data-doc-id="{{ t.doc_id }}">
        <div class="areaContent {{ t.class_str }}" data-area="{{area_name}}">
{%- endmacro -%}

{%- macro notes(t) -%}
{%- if t.notes and not t.from_preamble -%}
<div class="notes">
    {%- for note in t.notes -%}
    <div class="{{ ['note', 'editable' if note.editable else '', 'private' if note.private else '']|join(' ')|trim }}"
         ng-non-bindable
         note-id="{{ note.note.id }}">
        {{ note.note.html|safe }}
        &mdash;
        {%- if note.editable %}
        {% set info = note.user.basic_info_dict %}
        <a class="username" title="{{ info.real_name }}" href="mailto:{{ info.email }}"
        >{{ info.name }}</a>
        {%- endif %}
        <span class="timestamp" title="{{ note.note.created }}">{{ note.note.created|datestr_to_relative }}</span>
        {%- if note.note.modified -%}
        <span class="timestamp" title="{{ note.note.modified }}">
                                (edited {{ note.note.modified|datestr_to_relative }})
                            </span>
        {%- endif -%}
    </div>
    {%- endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- for t in text -%}
    {% set ai = t.areainfo %}
    {%- if not ai or ai.is_collapsed is not boolean -%}
        {%- if ai and ai.is_collapsed is none -%}
            {{ start_area(t) }}
        {%- endif -%}
        <div class="{{ t.html_class }}"
             id="{{ t.id }}"
             t="{{ t.hash }}"
             attrs='{{ t.attrs_str }}'
         {% if t.from_preamble %}
             data-from-preamble="{{ t.from_preamble|safe }}"
         {% endif %}
         {% if t.target %}
             ref-id="{{ t.target.id }}"
             ref-t="{{ t.target.hash }}"
             ref-attrs="{{ t.target.attrs_str }}"
             ref-doc-id="{{ t.target.doc_id }}"
         {% endif %}>
        {% set attrs = t.target.attrs or t.attrs %}
        {% set task_id = attrs['taskId'] %}
        {%- if task_id and not preview and not exam_mode -%}
            <a href="#{{ task_id }}" title="Permlink" class="headerlink">#</a>
        {%- endif -%}

        <div {% if not t.needs_angular and not attrs.allowangular %}ng-non-bindable{% endif %} tabindex="0" class="parContent"{% if task_id %} id="{{ task_id }}"{% endif %}>
                {{ t.output|safe }}
        </div>
        {%- if t.authorinfo -%}
        <div class="authorinfo">
        <i class="glyphicon glyphicon-pencil"></i>
        <span class="username">{{t.authorinfo.display_name}}</span>
        <span class="timestamp">{{ t.authorinfo.time|datestr_to_relative }}</span>
        </div>
        {%- endif -%}

        {%- if t.attrs.rl == 'force' or not (not t.attrs.rd or t.attrs.rl == 'no') -%}
            <tim-par-ref
               docid="{{ t.target.doc_id }}"
               parid="{{ t.target.id }}">
            </tim-par-ref>
        {%- endif -%}

        {{ editline|safe }}
        {%- if not should_mark_all_read and not t.from_preamble and t.status -%}
            <div class="{{ t.status.class_str }}"
                 title="Click to mark this paragraph as read"
                 {% for r in t.status.marks %}
                    time-{{ r.type.class_str }}="{{ r.timestamp.isoformat() }}"
                 {% endfor %}
            ></div>
        {%- endif -%}

        {{ notes(t) }}
        </div>
        {% if ai and ai.is_collapsed is undefined %}
            </div></div>
        {% endif %}
    {%- else -%}
        <div class="par {{ ai.collapse_state }}" title="Click to expand / collapse"
             id="{{ t.id }}"
             t="{{ t.hash }}"
             attrs="{{ t.attrs_str }}"
             data-area="{{ ai.name }}"
        {% if t.from_preamble %}
             data-from-preamble="{{ t.from_preamble|safe }}"
        {% endif %}
        {% if t.target %}
             ref-id="{{ t.target.id }}"
             ref-t="{{ t.target.hash }}"
             ref-attrs="{{ t.target.attrs_str }}"
             ref-doc-id="{{ t.target.doc_id }}"
         {% endif %}
        >
            {% if ai.is_collapsed %}
                <i class="areatoggle glyphicon glyphicon-plus"></i>
            {% else %}
                <i class="areatoggle glyphicon glyphicon-minus"></i>
            {% endif %}
            <div class="areatitle">{{ (t.output|safe) or ('&nbsp;'|safe) }}</div>
            {% if t.status %}
            <div class="{{ t.status.class_str }}" title="Click to mark this area as read"></div>
            {% endif %}
            {{ editline|safe }}
            {{ notes(t) }}
        </div>
        {{ start_area(t) }}
    {% endif %}
{%- endfor -%}
