tabset.merged ::ng-deep .tab-content {
  display: grid;
  grid-template-areas: "tab";
  grid-template-rows: max-content;

  & > tab {
    display: block;
    visibility: hidden;
    grid-area: tab;

    &.active {
      visibility: visible;
    }
  }
}

.list-archive-policy-header {
  margin-bottom: 0.5em;
  font-weight: bold;
}

tab {
  margin-top: 1em;
  margin-bottom: 1em;

  h4 {
    font-size: 1em;
  }
}

.grid-tab {
  display: grid !important;
  grid-template-columns: max-content auto;
  grid-auto-rows: max-content;
  align-items: baseline;
  gap: 1em 0.5em;
}

textarea {
  min-height: 10em;
  resize: vertical;
}

.save-button {

  & > * {
    margin-top: 0.5em;
  }

  div {
    display: flex;
    align-items: center;
  }

  tim-loading {
    margin-left: 1em;
    vertical-align: baseline;
  }
}

tim-alert {
  display: block;
}

#actions-panel .actions {
  display: flex;

  & > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

#members-tab .contents {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 0.5em;
  }

  & label {
    margin-bottom: 0;
  }
}

.add-members-help {
    margin-left: 0.5em;
}

#current-members-tab .contents {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 0.5em;
  }
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.5em;
}

.section {
  padding-bottom: 1.5em;
}

#tab-archive {
  ul {
    list-style: none;
    padding-left: 1.5em;
  }

  label {
    font-weight: normal;
  }
}

.indented {
  // Indent by uniform amount.
  margin-left: 2em;
}

.indented-more {
  // Some elemenents are sub-elements, those are indented a bit more.
  margin-left: 4em;
}

#domain-indicator {
  padding: 0 0.25em;
}

.member-table-row {
  font-size: 0.8em;
}

tbody {
  // Tables, especially the one showing group's members, might be hundreds of rows long. We don't want that to make the
  // table and by extension the page unnecessarily long, so add scrolling to table's body.
  overflow: scroll;
  max-height: 40em;
  size: auto;
}

.not-implemented {
  color: #b3b3b3;
}